In [5]:
assignment 1-03/09/2025

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (ipython-input-3801785298.py, line 1)

assignment 1-03/09/2025

In [6]:
print("hello")

hello

In [7]:
a = 9
b = 9

a is 9

<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-3267921642.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 9

True

In [8]:
a is not b

False

membership operator
 in      not in

In [9]:
pet = ['dog','cat','cow','rabbit']
'cat' not in pet

False

In [10]:
'lion'  not in pet

True

conditional statements:
     it is allows us to make decisions in code. they check conditions (expression that result in true or false)
     and  excute different blocks of code accordingly.

     type of conditional statements
     1) if statment-excute a block only if thecondition is true
     2) if else staement-provides two paths: one if condition is true
     3) if elif.. lader multiple conditions checked one by one.
     4) nesed if-using one if inside another

if statement-excute a block only if the condition is true
sytax:
  if (conditions):
        statements

In [11]:
x = 2

if(x>5):
  print("x is greater than 5")

In [ ]:
2) if.. else statement-provides two paths: one if condition is true,another if flase
if(condition):
  statements
else:
  statements

In [13]:
x = 2

if(x>5):
  print("x is greater than 5")
else:
  print("x is not greater than 5")

x is not greater than 5

In [ ]:
3) if..elif..else lader - multiple conditions checked one by one.
Syntax
     if(condition1):
      statements1
    else:
      if(condition2):
        statements2
   else:
      if(condition3):
        statements3
    else:
      statements


 if(condition1):
      statements1
 elif(condition2):
        statements2
 elif(condition3):
        statements3
    else:
      statements